# From STM32
**/Debug/
**/Release/
**/BUILD/
*.log

# Répertoires de build Keil / STM32
BUILD/
build/
Debug/
Release/
Objects/
Listings/
Output/
.metadata/

*.elf
*.bin
*.axf
*.hex

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
embedded_electronics/Regul_Temp_L432KC/prog/Keil/Regul_CCS/Regul_CCS.uvguix.Villou
embedded_electronics/Regul_Temp_L432KC/prog/Keil/Regul_CCS/Regul_CCS.uvoptx
